<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>All Posts</title>
</head>
<body>
    <div class="container">
    <h1>ChitChat 💬</h1>
    <% for( post of posts) { %>
       <div class="post">
           <h2 class="user"> @<%=post.username %> </h2>
           <h2 class="content"><%=post.content %> </h2>
       </div>
         <br />
       <a href="/posts/<%=post.id%>">See In Detail</a>
       <a href="/posts/<%=post.id%>/edit">Edit Post</a>
       <form method="post" action="/posts/<%=post.id%>?_method=DELETE" class="inline-form delete-form">
          <button class="delete-btn">Delete Post</button>
       </form>
    <% } %> 

    <br />
    <br />
    <a href="/posts/new">Create New Posts</a>
    </div>
</body>
</html>